Sample Report.docx
Sample for Phase1.html
Sample Screenshot.JPG
DesignShellReport.docx
screenshot.JPG
Team Budget Planner.zip
TeamBudgetPlanner.JPG
sample_report.docx
DesignShellZipFile.zip
Simply Blogging
Simply Blogging 2
simplyblogging.docx
simplyblogging.jpg
